<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemons:<br>
	<% @trainer.pokemons.each do |p| %>
		<%= p.name %>, level: <%= p.level %>, health: <%= p.health%> <%= button_to "Damage!", damage_path(id: p), :class => "button small", :method => :patch %><br>
	<% end %>
	<%=button_to "Add new Pokemon", new_path, :class => "button small", :method => :get if current_trainer==@trainer %>
</p>
